.chatbox {
    border-top: 1px solid lightgray;
}

.chatbox .inputBox {
    width: calc(100% - 200px);
    /* bottom: 0; */
    /* position: fixed; */
    height: 50px;
    border: 0px;
    /* padding-left: 10px; */
}

.chatboxMobile input {
    width: 100%;
    bottom: 0;
    margin-bottom: 80px;
    position: fixed;
    height: 60px;
    /* border-top: 1px solid lightgray; */
    border-left: 0px;
    padding-left: 10px;
}

input:focus {
    outline: 0;
}

.typing {
    position: absolute;
    margin-top: -44px;
}

.typing p {
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    padding: 10px;
    display: table-cell;
}

.scroll {
    position: absolute;
    margin-top: -36px;
    right: 12px;
}

p {
    margin: 0;
}

.profilePic {
    width: 50px;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.time {
    font-size: 14px;
    color: gray;
    margin-top: 4px;
}

.message {
    font-size: 18px;
    font-weight: normal;
    /* text-align: left;
    display: inline-block; */
}

.message img {
    max-width: 400px;
}

.me {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    float: right;
}

.me table {
    width: 80%;
    float: right;
}

.me td {
    padding-right: 12px;
    vertical-align: top;
}

.me tr td:first-child {
    width:99%;
}

.me tr td:last-child {
    width:1%;
}

.me .time {
    visibility: hidden;
}

.me:hover .time:not(:hover) {
    visibility: visible;
}

.other {
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    float: left;
}

.other table {
    width: 80%;
    float: left;
}

.other td {
    padding-left: 12px;
    vertical-align: top;
}

.other tr td:first-child {
    width:1%;
}

.other tr td:last-child {
    width:99%;
}

.other .time {
    visibility: hidden;
}

.other:hover .time:not(:hover) {
    visibility: visible;
}

.recent {
    margin-top: -30px;
    margin-bottom: -10px;
    background-color: transparent;
}

.recent img {
    visibility: hidden;
    /* display: none; */
}

.recent .name {
    /* visibility: hidden; */
    display: none;
}

.recent .time {
    /* visibility: hidden; */
    display: none;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    margin: 0px 10px;
    font-size: 24px;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}