.chatDesktop {
    height: calc(80vh - 50px);
    overflow-y: scroll;
}

.chatMobile {
    height: calc((var(--vh, 1vh) * 100) - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    animation: fadein 0.4s;
    backdrop-filter: blur(4px);
    margin-top: 50px;
}

.chatMobile p {
    font-size: 16px;
}

.chatMobile .message img {
    width: 200px;
}

.chat {
    position: relative;
    width: 30vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.128);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    filter: drop-shadow(0 0 1rem black);
    transition: all 0.4s ease;
    animation: fadein 0.4s
}

@media (max-width: 800px) {
    video {
        width: 50vw;
        height: auto;
    }

    canvas {
        width: 40vw;
        height: auto;
    }
}

@media (min-height: 601px) and (max-height: 800px) and (min-width: 801px) {
    .chatDesktop {
        height: calc(90vh - 50px);
    }

    .chat {
        height: 90vh;
        width: 40vw;
    }

    video {
        width: 30vw;
        height: auto;
    }

    canvas {
        width: 200px;
        height: 200px;
    }
}

.expand {
    width: 80vw !important;
}

.chatbox {
    border-top: 1px solid white;
    color: white;
}

.chatbox #chatbox {
    width: calc(100% - 116px);
    height: 50px;
    border: 0px;
    background-color: transparent;
    color: white;
}

.chatbox img {
    filter: invert(100%);
    margin-right: 10px;
}

.chatbox img:hover {
    cursor: pointer;
}

.chatboxMobile {
    border-top: 1px solid white;
    color: white;
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
    width: 100%;
}

.chatboxMobile #chatbox {
    height: 40px;
    width: calc(100% - 116px);
    border: 0px;
    background-color: transparent;
    color: white;
}

.chatboxMobile img {
    filter: invert(100%);
    margin-right: 10px;
}

.chatboxMobile input {
    width: 0px;
}

input:focus {
    outline: 0;
}

.typing {
    position: absolute;
    margin-top: -44px;
}

.typing p {
    background: linear-gradient(0deg, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
    padding: 10px;
    display: flex;
}

.typing b {
    float: left;
    margin-right: 5px;
}

.scroll {
    position: absolute;
    margin-top: -46px;
    right: 24px;
}

.scroll button {
    border-radius: 50%;
    width: 31px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    filter: drop-shadow(0 0 1rem black);
    transition: all 0.4s ease;
    animation: fadein 0.4s;
}

.scroll button:hover {
    transform: scale(1.2);
}

.scroll button:active {
    transform: scale(1.0);
    transition: all 0.1s ease;
}

.scrollMobile {
    position: absolute;
    margin-top: -46px;
    right: 24px;
}

.scrollMobile button {
    border-radius: 50%;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    filter: drop-shadow(0 0 1rem black);
    transition: all 0.4s ease;
    animation: fadein 0.4s;
}

p {
    margin: 0;
    color: white;
}

table {
    margin-top: 15px;
    margin-left: 15px;
    /* display: flex; */
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.chatMobile .profilePic {
    width: 30px;
    height: 30px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.chatMobile .name {
    font-size: 12px;
}

.time {
    font-size: 14px;
    color: gray;
    margin-top: 4px;
    white-space: nowrap;
}

.chatMobile .time {
    font-size: 10px;
}

.message {
    font-size: 18px;
    font-weight: normal;
    /* text-align: left;
    display: inline-block; */
}

.chatMobile .message {
    font-size: 15px !important;
}

.message img {
    max-width: 400px;
    animation: fadein 2s;
    cursor: pointer;
    margin: 5px 0px 10px;
    /* transition: all 0.4s ease; */
}

/* .message img:hover {
    transform:scale(2);
    z-index: 1;
} */

.me {
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: right;
    float: right;
    animation: fadein 1.2s;
    width: 100%;
}

.me.mobile {
    margin-bottom: 0px;
}

.me table {
    width: 80%;
    float: right;
}

.me td {
    padding-right: 12px;
    vertical-align: top;
    word-break: break-word;
}

.me.mobile td {
    padding-right: 6px;
}

.me tr td:first-child {
    width:99%;
}

.me tr td:last-child {
    width:1%;
}

.me .time {
    opacity: 0;
    transition: all 0.2s ease;
}

.me:hover .time:not(:hover) {
    opacity: 1;
}

.other {
    margin-left: -10px;
    margin-bottom: 10px;
    float: left;
    animation: fadein 1.2s;
    width: 100%;
}

.other.mobile {
    margin-bottom: 0px;
}

.other table {
    width: 80%;
    float: left;
}

.other td {
    padding-left: 12px;
    vertical-align: top;
    word-break: break-word;
}

.other.mobile td {
    padding-left: 6px;
}

.other tr td:first-child {
    width:1%;
}

.other tr td:last-child {
    width:99%;
}

.other .time {
    opacity: 0;
    transition: all 0.2s ease;
}

.other:hover .time:not(:hover) {
    opacity: 1;
}

.recent {
    margin-top: -30px;
    margin-bottom: -10px;
}

.recent.mobile {
    margin-top: -20px;
}

.recent img {
    visibility: hidden;
    /* display: none; */
}

.recent .name {
    /* visibility: hidden; */
    display: none;
}

.recent .time {
    /* visibility: hidden; */
    display: none;
}

.fileContainer {
    /* overflow: hidden;
    position: relative; */
    margin: 0px 10px;
    font-size: 24px;
}

.fileContainer:hover {
    cursor: pointer;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#dragZone {
    position: fixed;
    width: 600px;
    height: 800px;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    border: 6px dashed gray;
    animation: fadein 0.4s;
    vertical-align: middle;
    line-height: 800px;
    z-index: 2;
}

video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    border-radius: 10px;
    transition: all 0.4s ease;
    animation: fadein 0.4s
}

.stream {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.255);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    filter: drop-shadow(0 0 1rem black);
    transition: all 0.4s ease;
    animation: fadein 0.4s;
    float: left;
    margin: 24px 24px 0px 0px;
}

.videoStream {
    float: left;
    margin: 24px 24px 0px 0px;
}

#userStream {
    position: relative;
    float: left;
}

#userStream div {
    position: absolute; 
    bottom: 0; 
    z-index: 1; 
    width: 100%; 
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease;
}

#userStream img {
    margin: 10px;
    filter: invert(100%) drop-shadow(0 0 1rem black);
    transition: all 0.1s ease;
}

#userStream img:hover {
    cursor: pointer;
}

#userStream img:active {
    transform: scale(0.8);
}

#userStream:hover div {
    opacity: 1;
}

#userStream:hover video {
    filter: brightness(0.5);
}

.backButton {
    color: white;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.255);
    backdrop-filter: blur(10px);
    border: none;
    position: absolute;
    top: 40px;
    left: 10px;
    padding: 10px 20px;
}